@import "@/styles/index.scss";

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  height: 1rem;
  width: 1rem;
  color: var(--zinc-500);
}

.select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: monospace;
  font-size: 0.875rem;
  color: var(--zinc-400);
  transition: color 0.2s;
  outline: none;

  &:hover {
    color: white;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.option {
  background-color: var(--zinc-900);
}
