@import "@/styles/index.scss";

.body {
  @include appPageBody(12px); // Space for bottom navigation included in mixin
}

.header {
  @include columnAlign(0, center, center);
  padding: 4px 0;
}

.tabs {
  width: 100%;
  padding-top: 20px;
}

.periodFilter {
  width: 100%;
  @include rowAlignCenter(0, flex-start);
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 0;
}
