.banner {
  flex: 1 1 0;
  width: 100%;
  max-height: 200px;
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
  overflow: hidden;
  min-height: 0; // allow flexbox child to shrink if needed
}

.mainContent {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-image: url("/src/shared/assets/images/brnd-power-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  gap: 4px;
  border-radius: 4px;
  position: relative;
  
  svg {
    position: relative;
    z-index: 1;
  }
}

.arrowSection {
  border-radius: 4px;
  height: 100%;
  width: 32px;
  background: linear-gradient(
    180deg,
    #fff100 0%,
    #ff0000 33%,
    #0c00ff 66%,
    #00ff00 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

