@import "@/styles/index.scss";

.layout {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 95vw;
  max-width: 95vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex: 1;
  min-width: 0;
  white-space: nowrap;

  color: #ffffff4d;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  padding: 8px 6px;
  padding-bottom: 18px;
  text-transform: uppercase;

  font-size: 14px;
  line-height: 18px;

  @include isMobile() {
    font-size: 11px;
    line-height: 14px;
    padding: 8px 3px;
    padding-bottom: 18px;
  }

  &.active {
    color: #fff;
  }
}

.indicator {
  height: 2px;
  background: linear-gradient(
    88.53deg,
    #ff9633 9.34%,
    #ff0000 25.62%,
    #0c00ff 69.6%,
    #00ff00 90.78%
  );
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
